apiVersion: v1
kind: Secret
metadata:
  name: asya-gateway-postgresql
  namespace: {{ .Release.Namespace }}
  labels:
    app: postgresql
    app.kubernetes.io/name: postgresql
    app.kubernetes.io/instance: {{ .Release.Name }}
type: Opaque
stringData:
  password: {{ .Values.password }}
  postgres-password: {{ .Values.password }}
